.footer 
    ul(class="social-links")
        li
            a(href="https://github.com/MicroBitcoinOrg" target="_blank") GitHub
        li
            a(href="https://mbc.wiki" target="_blank") MBC Wiki
        li
            a(href="https://discord.io/microbitcoin" target="_blank") Discord
        li
            a(href="https://bitcointalk.org/index.php?topic=3982489.msg37769108" target="_blank") Bitcoin Talk
    p.attent Информационный сайт для региона России, официальный сайт MicroBitcoin: <a href="https://microbitcoin.org" target="_blank">microbitcoin.org</a> 
    p.footer-sign 2019-2021 © MICRO<b>BITCOIN</b>
    