extends ./index

block content
    .development
        h1(style="color: #151c8b") Разработка
        ul.dev-menu
            li
                a(href="/development/protocol") Протокол
            li
                a(href="/development/mining-mbc") Майнинг MBC
            //- li 
                a(href="/development/updates") Обновления