extends ./index

block content
    .info
        h1(style="color: #151c8b") Информация
        p 
            i Раздел в разработке ...
        //- ul.introd-menu
        //-     li
        //-         a(href="/introduction/what-is-mbc") Что такое MicroBitcoin?