extends ./index

block content
    .introduction
        h1(style="color: #151c8b") Представление
        ul.introd-menu
            li
                a(href="/introduction/what-is-mbc") Что такое MicroBitcoin?
            li 
                a(href="/introduction/getting-started") С чего начать?
            li 
                a(href="/introduction/wallet") Кошелек
            li 
                a(href="/introduction/buy-mbc") Купить MBC
            li 
                a(href="/introduction/services") Сервисы