.development {
    font-family: 'Exo 2', sans-serif;
}

.dev-menu {
    list-style-type: square;
    font-size: 1.4em;
}

.dev-menu a {
    color: black;
}

.dev-menu li {
    margin: 10px;
}

.dev-menu li a:hover {
    color: #ffd356;
}