.buy-mbc {
  font-family: 'Exo 2', sans-serif;
}

.exchanges,
.info-channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.exchanges>img,
.info-channels>img {
  transition: transform 0.2s;
  margin: 10px;
}

.info-channels>img {
  border: 1px solid gray;
  border-radius: 28px;
  margin: 10px;
}

.exchanges>img:hover,
.info-channels>img:hover {
  cursor: pointer;
  transform: scale(1.12);
}

.stex,
.bibako {
  background-color: #000;
  border-radius: 28px;
  padding: 26px 10px;
}

.p2pb2b {
  background-color: rgb(214, 212, 212);
  border-radius: 28px;
  padding: 26px 10px;
}

.bit-on-bay {
  border-radius: 30px;
  width: 170px;
}

.cmc {
  padding: 26px 10px;
}

.cc {
  padding: 0px 4px;
}

.cg {
  padding: 16px 7px;
}

.lcw {
  padding: 16px 10px;
}

.cr {
  padding: 32px 11px;
}

.coco {
  padding: 20px 10px;
}

.cch {
  padding: 15px 10px;
}

.request-additional-exch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-additional-exch button {
  border: 1px solid #b1b1f0;
  color: #6d91c9;
  border-radius: 10px;
  background-color: beige;
  padding: 10px 20px;
  cursor: pointer;
}

.request-additiona-exch button:hover {
  background-color: #f5f9ff;
}

@media only screen and (min-width: 680px) {
  .exchanges,
  .info-channels {
    flex-direction: row;
  }

  .request-additional-exch {
    align-items: flex-start;
    width: 100%;
  }
}
.development {
  font-family: 'Exo 2', sans-serif;
}

.dev-menu {
  list-style-type: square;
  font-size: 1.4em;
}

.dev-menu a {
  color: black;
}

.dev-menu li {
  margin: 10px;
}

.dev-menu li a:hover {
  color: #ffd356;
}
body {
  margin: 0px;
}

.b-content {
  width: 98%;
  padding: 10px;
  box-sizing: border-box;
  margin: 50px auto 100px;
  font-size: 1.30em;
}

.main-menu {
  z-index: 1;
}

.request-additional-span {
  font-size: 6em;
  border: 4px solid #231815;
  border-radius: 100%;
  width: 130px;
  color: #203f8c;
  text-align: center;
  height: 130px;
  margin: 20px 10px 5px;
}

.footer {
  text-align: center;
  background-color: #d9dfec;
  padding: 20px;
}

.social-links {
  list-style-type: none;
  padding: 0px;
}

.social-links li {
  display: inline-block;
  margin-left: 10px;
}

.footer-sign {
  font-size: .7em;
  color: white;
}

.attent {
  color: #303241;
  font-style: italic;
  font-size: 0.94em;
}

@media only screen and (min-width: 680px) {
  .b-content {
    width: 84%;
    margin: 40px auto 100px;
  }
}
.getting-started {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.wallet-img {
  width: 50%;
  display: block;
  margin: 10px auto;
}

.choose-wallet {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.choose-wallet .left-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wallet-img {
  width: 40%;
}

.choose-wallet button,
.acquire-mbc button {
  margin: 10px auto;
  padding: 8px 14px;
  border: 1px solid;
  color: #267fd8;
  border-radius: 10px;
  background-color: white;
}

.choose-wallet button:hover,
.acquire-mbc button:hover {
  cursor: pointer;
  background-color: rgb(238, 240, 246);
}

.acquire-mbc {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.acquire-mbc .left-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.use-mbc {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.use-mbc .left-pane {
  width: 100%;
}

@media only screen and (min-width: 680px) {
  .choose-wallet {
    flex-direction: row;
  }

  .wallet-img {
    width: 50%;
  }

  .choose-wallet .left-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .acquire-mbc {
    flex-direction: row-reverse;
  }

  .acquire-mbc .left-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .use-mbc {
    flex-direction: row;
  }

  .use-mbc .left-pane {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
.info {
  font-family: 'Exo 2', sans-serif;
}
.introduction {
  font-family: 'Exo 2', sans-serif;
}

.introd-menu {
  list-style-type: square;
  font-size: 1.4em;
}

.introd-menu a {
  color: black;
}

.introd-menu li {
  margin: 10px;
}

.introd-menu li a:hover {
  color: #ffd356;
}
.main-menu-container {
  background-color: #151c8b;
  color: white;
  margin-bottom: 50px;
  width: 100%;
  font-size: 1.1em;
}

.mbc-flow,
.mbc-flow2,
.mbc-flow3 {
  opacity: 0.8;
  display: none;
}

.mbc-flow {
  z-index: 0;
  position: absolute;
  top: -57px;
  right: 10rem;
  width: auto;
  height: 192px;
}

.mbc-flow2 {
  z-index: 0;
  position: absolute;
  top: 12px;
  right: 31rem;
  width: auto;
  height: 200px;
}

.mbc-flow3 {
  z-index: 0;
  position: absolute;
  top: -66px;
  left: 11rem;
  width: auto;
  height: 241px;
}

.main-menu {
  width: 100%;
  background-color: #203f8c;
  box-sizing: border-box;
  text-align: right;
  font-size: 1.16em;
  font-family: 'Russo One', sans-serif;
  height: 0px;
  overflow: hidden;
  margin: 0;
  transition: 0.6s;
  padding: 0;
  position: fixed;
  top: 37px;
  left: 0;
  box-shadow: 0px 3px 5px #3e3e3e;
}

.main-menu li {
  cursor: pointer;
  list-style-type: none;
  margin: 6px 0px;
  margin-right: 20px;
}

.main-menu a {
  text-decoration: none;
  color: white;
}

.main-menu a:hover {
  color: #ffd356;
}

.mbc-logo-wrap:hover {
  cursor: pointer;
}

.mbc-logo {
  width: 100%;
  height: 190px;
  display: none;
  background: linear-gradient(361deg, navy 56%, #80aade);
  box-shadow: inset 3px 1px 16px #394a6d;
}

.sticky-mbc-logo,
.sticky-mbc-logo2 {
  height: 40px;
  width: 26px;
  margin-top: -6px;
  margin-bottom: -6px;
}

.sticky-mbc-logo2 {
  cursor: pointer;
  display: none;
}

.menu-content {
  width: 100%;
  height: 0;
  text-align: right;
  transition: 0.5s;
  overflow: hidden;
}

/* mobile icon css */

.mobile-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* mobile menu css */

.mob-menu-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px;
  box-shadow: 1px 1px 4px #1b2640;
}

.logo-and-text {
  display: flex;
  align-items: center;
}

.microbitcoin {
  font-size: 1.24em;
  font-family: 'Montserrat', sans-serif;
}

.slide-menu {
  height: 220px;
}

.mob-menu-and-logo.sticky-menu {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #203f8c;
  z-index: 2;
}

.mobile-content-wrapper {
  position: fixed;
  top: 40px;
  width: 100%;
}

@media only screen and (min-width: 680px) {
  .mbc-flow,
  .mbc-flow2,
  .mbc-flow3 {
    display: initial;
  }

  .mbc-logo {
    display: block;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    height: initial;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    position: relative;
    top: 0px;
  }

  .main-menu hr {
    display: none;
  }

  .main-menu li {
    margin: 0px;
  }

  .menu-content {
    overflow: visible;
  }

  .mob-menu-and-logo {
    display: none;
  }

  .sticky-menu {
    position: fixed;
    top: 0;
  }

  .mobile-content-wrapper {
    display: block;
    position: relative;
  }

  .show-mbc-logo2 {
    display: block;
  }
}
.general-header-1 {
  color: white;
  font-size: 2em;
  text-align: center;
}

.general-header-2 {
  text-align: center;
  color: #fac941;
  margin: 0;
  font-size: 2.6em;
  font-weight: bold;
}

.main-page {
  word-wrap: break-word;
  background-color: #203f8c;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  padding: 30px 0 0;
  position: relative;
  top: 0;
  left: 0;
}

.main-page>h1 {
  padding: 0 10px 0;
  margin: 4px 0;
}

.main-page .links {
  width: 80%;
  cursor: pointer;
}

.main-page .links a {
  color: white;
  text-decoration: none;
}

.link-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-line span {
  color: white;
}

.link-line:hover.link-line a {
  color: #fac941;
}

.link-line:hover.link-line span {
  color: #fac941;
}

.split-mode {
  padding: 10px 20px 50px;
  margin: 30px 0px;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.split-mode .right-pane {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.split-mode .right-pane img {
  width: 50%;
  border-radius: 20px;
}

.slideshow-cont {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mySlides {
  display: none;
  transition: display 0.4s;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

.middle-main {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.middle-main>div {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 50px;
}

.middle-main .right-pane {
  background-color: #fac941;
  color: white;
}

.middle-main .left-pane .r-arr {
  color: white;
}

.wallet-choice {
  color: #203f8c;
}

.payment-opt,
.wallet-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-opt .r-arr,
.wallet-choice .r-arr,
.proposals>div .r-arr {
  border-radius: 100%;
  width: 32px;
  flex-direction: column;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  display: flex;
  font-size: 1.3em;
  background-color: #203f8c;
  cursor: pointer;
}

.proposals>div .r-arr {
  color: white;
}

.payment-opt>div:hover .r-arr,
.wallet-choice>div:hover .r-arr,
.proposals>div:hover .r-arr {
  background-color: rgb(226, 105, 105);
  color: white;
  transition: 0.2s;
}

.payment-opt .prev-arr:hover,
.wallet-choice .prev-arr:hover {
  transition: 0.3s;
  color: rgb(226, 105, 105);
  cursor: pointer;
}

.wallets-line {
  display: flex;
  justify-content: space-evenly;
}

.wallets-line img {
  max-width: 20%;
  padding: 14px;
  transition: transform 0.2s;
  cursor: pointer;
}

.wallets-line img:hover {
  transform: scale(1.15);
}

.update-line {
  display: flex;
  flex-direction: column;
}

.updates {
  font-family: 'Exo 2', sans-serif;
  padding: 60px 8%;
  background-color: white;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.network-update {
  color: white;
  padding: 20px;
  min-height: 100px;
  background-image: url("/static/assets/news_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proposals {
  padding: 30px;
  min-height: 100px;
}

.MBCians {
  font-family: 'Exo 2', sans-serif;
  padding: 20px 8%;
  background-color: #fff;
  min-height: 300px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  background-position: center;
  background-image: url("/static/assets/bg_01.jpg");
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 10px 20px;
}

.socials .soc:hover {
  opacity: 1;
  cursor: pointer;
}

.socials .soc img:hover {
  transform: scale(1.14);
}

.socials .soc p {
  font-size: 0.8em;
}

.socials .soc p,
.socials .soc h3 {
  margin: 4px 0px 0px;
  text-align: center;
}

.socials .soc h3 {
  color: #fac941;
}

.socials .soc img {
  width: 30%;
  transition: transform 0.2s;
}

.socials .soc {
  opacity: 0.8;
  display: flex;
  width: 70%;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.mining-pools,
.crypto-exchanges {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 40px 8%;
}

.understanding-mbc {
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9fc;
  padding: 60px 8%;
}

.und-line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 60px;
  align-items: center;
}

.und img {
  width: 40%;
}

.und h3 {
  margin: 20px 0 4px;
}

.und p {
  margin: 0;
  font-size: 0.9em;
}

.und {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.mining-pools .pools {
  align-items: center;
}

@media only screen and (min-width: 680px) {
  .general-header-1,
  .general-header-2 {
    text-align: left;
  }

  .socials {
    flex-direction: row;
  }

  .socials .soc img {
    width: 20%;
  }

  .split-mode {
    flex-direction: row;
    margin: 10px 60px 50px;
  }

  .split-mode .right-pane {
    margin-top: 0px;
  }

  .main-page>h1 {
    padding: 0 60px 0;
  }

  .middle-main,
  .update-line {
    flex-direction: row;
  }

  .update-line>div {
    width: 50%;
  }

  .middle-main>div {
    padding: 10px 60px 50px;
  }

  .und-line {
    flex-direction: row;
  }

  .und {
    width: 35%;
  }
}
.mining {
  font-family: 'Exo 2', sans-serif;
}

.pow-algo-mine {
  width: 90%;
  margin: 20px 0;
  box-sizing: border-box;
}

.command-for-mine>p {
  margin: 0px;
}

.command-for-mine {
  color: #e83e8c;
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.mining-formula {
  width: 90%;
  margin: 20px 10px;
  box-sizing: border-box;
}

.pools {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pools img {
  max-width: 130px;
  max-height: 100px;
  margin: 10px 30px;
  width: 70%;
  cursor: pointer;
  transition: transform 0.2s;
}

.pools img:hover {
  transform: scale(1.16);
}

.mining-info-channels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mining-info-channels img {
  padding: 0px 21px;
  border: 2px solid #8e8e8f;
  border-radius: 18px;
  margin: 8px 0px;
  max-height: 62px;
  cursor: pointer;
}

.mining-info-channels div {
  display: flex;
  flex-direction: column;
  margin: 8px 20px;
  align-items: center;
  transition: transform 0.2s;
}

.mining-info-channels div:hover:not(:last-child) {
  transform: scale(1.16);
}

@media only screen and (min-width: 680px) {
  .mining-formula {
    width: 70%;
  }

  .pow-algo-mine {
    width: 70%;
  }

  .pools {
    flex-direction: row;
  }

  .pool-img {
    width: 14%;
  }
}
.protocol {
  font-family: 'Exo 2', sans-serif;
}

.protocol-header {
  width: 32%;
  margin: 10px auto;
  display: block;
}

.proto-line {
  display: flex;
  flex-direction: column;
}

.proto-line div {
  width: 100%;
  margin: 10px;
}

.proto-line h2 {
  color: #267fd8;
}

.p-table th:not(.l-th) {
  color: #267fd8;
  text-align: left;
}

.p-table {
  border-top: 3px solid #203f8c;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
}

.p-table tr {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.p-table td,
.p-table th {
  padding: 14px 8px;
}

.table-left {
  text-align: left;
}

.p-table .mbc-tb {
  color: #f3805e;
  background-color: #f6f9fd;
  font-weight: 700;
}

@media only screen and (min-width: 680px) {
  .proto-line {
    flex-direction: row;
  }

  .proto-line div {
    width: 30%;
  }
}
.service-list {
  font-family: 'Exo 2', sans-serif;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
}

.serv-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
  margin: 10px 0;
}

.serv-header {
  color: #267fd8;
  margin-bottom: 6px;
  transition: 0.2s;
}

.serv-subheader {
  transition: 0.2s;
}

.serv-line img {
  margin: 0px 38px 0 0;
  padding: 30px;
  border-radius: 26px;
  width: 100px;
  height: 100px;
  max-width: 150px;
  max-height: 150px;
  border: 1px solid rgb(226, 226, 226);
  transition: 0.2s;
}

.serv-line:hover.serv-line img {
  border-color: black;
}

.serv-line:hover.serv-line h2,
.serv-line:hover.serv-line b {
  color: #f3805e;
}

.serv-line:hover .right-arr {
  background-color: #f3805e;
  color: white;
}

.right-arr span {
  margin-bottom: 18px;
}

.right-arr {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 100%;
  color: #267fd8;
  transition: 0.2s;
}

.mid-serv {
  width: 100%;
}

.serv-hr {
  display: block;
  margin: 10px 0 20px;
}

@media only screen and (min-width: 680px) {
  .serv-line {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .mid-serv {
    width: 60%;
  }

  .serv-hr {
    display: none;
  }
}
.wallet {
  font-family: 'Exo 2', sans-serif;
}

.wallet-main-img {
  width: 80%;
}

.mbc-wallets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mbc-wallets>div {
  width: 90%;
  justify-content: space-around;
  margin: 10px 0px;
}

.mbc-wallets>div>img {
  margin-left: 10px;
}

.wallet-hr {
  width: 90%;
  margin: 20px 0px;
}

.pc-wallet img {
  width: 34%;
}

.go-to-wallet-btn,
.request-additional button {
  border: 1px solid #b1b1f0;
  color: #6d91c9;
  border-radius: 10px;
  background-color: beige;
  padding: 10px 20px;
  cursor: pointer;
}

.go-to-wallet-btn:hover,
.request-additional button:hover {
  background-color: #f5f9ff;
}

.request-additional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 680px) {
  .mbc-wallets {
    flex-direction: initial;
  }

  .mbc-wallets>div {
    width: 50%;
  }

  .wallet-hr {
    display: none;
  }
}
.w-is-hd {
  color: #151c8b;
  margin-top: 32px;
  margin-bottom: 42px;
}

.what-is-mbc {
  font-family: 'Exo 2', sans-serif;
}

.mbc-header {
  margin-bottom: 24px;
  width: 100%;
}

.citate {
  font-weight: bold;
  color: #267fd8;
  font-size: 1.4em;
}

.mbc-eco-img {
  width: 100%;
}

.mbc-spec-img {
  display: block;
  width: 30%;
  margin: 10px auto;
}

.technology_000 {
  width: 14%;
}

@media only screen and (min-width: 680px) {
  .mbc-header {
    width: 50%;
  }

  .mbc-eco-img {
    width: 68%;
  }
}
.white-paper {
  font-family: 'Exo 2', sans-serif;
  list-style-type: square;
  font-size: 1.4em;
}

.white-paper a {
  color: black;
}

.white-paper li {
  margin: 10px;
}

.white-paper li a:hover {
  color: #ffd356;
}