extends ./../index

block content 
    .services 
        h1.w-is-hd Сервисы
        .service-list 
            div.serv-line(onclick="window.open('https://microbitcoinorg.github.io/explorer/#/', '_blank')")
                img(src="/static/imgs/service01.png")
                div.mid-serv
                    h2.serv-header Блокчейн обозреватель
                    b.serv-subheader Легкий к использованию обозреватель блокчейна.
                    p Простой обозреватель блоков, построенный для MicroBitcoin (MBC).<br>
                        | Ищите блоки, адреса, транзакции и более.
                div.right-arr
                    span &#8250;
            hr.serv-hr
            div.serv-line(onclick="window.open('https://microbitcoinorg.github.io/converter/', '_blank')")
                img(src="/static/imgs/service02.png")
                div.mid-serv
                    h2.serv-header Конвертер адресов
                    b.serv-subheader BTC-адрес в MBC-адрес конвертер.
                    p Конвертируйте свой Bitcoin (BTC) адрес в Microbitcoin (MBC) адрес, используя этот простой и легкий в использовании инструмент.
                div.right-arr
                    span &#8250;
            hr.serv-hr
            div.serv-line(onclick="window.open('https://microbitcoinorg.github.io/paper/#/', '_blank')")
                img(src="/static/imgs/service02.png")
                div.mid-serv
                    h2.serv-header Бумажный кошелек
                    b.serv-subheader Простой  генератор бумажных кошельков.
                    p Сгенерируйте публичный и приватный ключи, используя этот JavaScript MicroBitcoin (MBC) генератор кошельков с открытым исходным кодом, полностью на стороне клиента.
                div.right-arr
                    span &#8250;
            hr.serv-hr
            div.serv-line(onclick="window.open('/static/assets/mbc_logo_assets.zip', '_blank')")
                img(src="/static/imgs/service04.png")
                div.mid-serv
                    h2.serv-header Логотипы MicroBitcoin
                    b.serv-subheader Набор MicroBitcoin логотипов.
                    p Загрузите набор MicroBitcoin логотипов, используйте их для создания значимых вещей, таких как стикеры, товары, сервисы и всего остального.
                div.right-arr
                    span &#8250;
            hr.serv-hr
            div.serv-line(onclick="window.open('/static/assets/mbcwallpaper-01.jpg', '_blank')")
                img(src="/static/imgs/service05.png")
                div.mid-serv
                    h2.serv-header MicroBitcoin обои
                    b.serv-subheader Загрузите обои MicroBitcoin для вашего рабочего стола.
                    p Уникальные обои для рабочего стола, созданы сообществом для сообщества, которые эстетично радуют свой расцветкой. 
                div.right-arr
                    span &#8250;
            hr.serv-hr
            div.serv-line(onclick="window.open('https://t.me/addstickers/MicroBitcoin', '_blank')")
                img(src="/static/imgs/service06.png")
                div.mid-serv
                    h2.serv-header Стикеры Telegram 
                    b.serv-subheader Добавьте MicroBitcoin стикеры в телеграм.
                    p Наслаждайтесь красивыми, веселыми и бесплатными стикерами для Telegram.
                div.right-arr
                    span &#8250;

                