extends ./../index

block content 
    .what-is-mbc
        h1.w-is-hd Что такое MicroBitcoin?
        img(src="/static/imgs/mbc_header.png" class="mbc-header")
        p MicroBitcoin - это децентрализованный peer-to-peer (P2P) платёжный протокол, построенный для микро-экономики. 
            |MicroBitcoin был отделён от Биткоинa на 525,000 блоке (хард-форк) 
            | и намеревается быть дружелюбной к пользователю криптовалютой.
        h1.w-is-hd Видение и миссия
        div.citate “ Платёжный протокол
        div.citate построенный на блокчейн технологии
        div.citate с открытым кодом, децентрализацией
        div.citate и P2P платежами. ”
        p Первоначальный план Сатоши Накамото по созданию Биткоина состоял в том, чтобы 
            | предоставить децентрализованную систему платежей, которая бы не находилась под контролем какой-либо централизованной организации по предоставлению денег.
            | Однако, Биткоин нашёл ограниченное применение для микро-платежей из-за проблем с масштабируемостью, долгим временем транзакции и откровенно высокими комиссиями.
        p Чтобы реализовать это первоначальное видение, был разработан MicroBitcoin, который в 10.000 раз превосходит общий объём предложения по Биткоину, соответственно имея куда более низкую цену за единицу. 
            | Однако, чтобы реализовать эту более быструю скорость транзакций, пришлось преодолеть множество трудностей, включая снижение комиссий за транзакции, а также более высокие вознаграждения за майнинг.
            | Благодаря различным участникам со всего мира, из таких стран как Корея, США, Украина, была утверждена политика в отношении скорости, стоимости комиссий и вознаграждений за майнинг, так была разработана эта монета.
            | Кроме того, мы сделали монету подходящей для использования в микроэкономике, за счёт её тщательной защиты, первыми в мире реализовав новый алгоритм шифрования LWMA-3.
        p Тем не менее, риски угрожающие Microbitcoin могут всё-же возникнуть из-за неожиданного уровня экспоненциального роста числа пользователей и развития технологий вообще. 
            | Хотелось бы оставить эту задачу экономике открытого исходного кода, в качестве домашнего задания для каждого. Поскольку концепция валюты не принадлежит никому, мы надеемся что MicroBictoin cтанет концепцией новой валюты.
            | Это означает, что никто не может претендовать на права автора, такой должна быть новая форма оплаты, формируемая через каждого из участников, которые вносят и будут дальше вносить свой вклад.
        h1.w-is-hd Экосистема MicroBitcoin
        img(src="/static/imgs/mbc_ecosystem.jpg" class="mbc-eco-img")
        ol.ol-ecosystem-mbc
            li 
                h3 Протокол
                p Ядро протокола MicroBitcoin (MBC), которое позволяет пересылать MBC между одноранговыми узлами сети по-настоящему децетрализованно. 
            li 
                h3 Интерфейс
                p От интерфейса командной строки (CLI) до программного интерфейса приложений (API), иструмента который используют приложения для подключения и использования MicroBitcoin (MBC) протокола.
            li 
                h3 Приложение
                p Программное обеспечение, которое позволяет конечным пользователям осуществлять децентрализованные транзакции MicroBitcoin (MBC) между узлами одноранговой сети.
            li 
                h3 Сервис
                p Организации, предоставляющие услуги конечным пользователям, используя приложения, построенные для взаимодествия и отправки тразакций, используя MicroBitcoin (MBC) протокол.
        h1.w-is-hd Спецификации
        img(src="/static/imgs/mbc_specifications.png" class="mbc-spec-img")
        p Ниже описываются усилия сообщества по превосходству над Биткоином, которые дополняют и совершенствуют технологию. 
            | Это сильная сторона MicroBitcoin, как наиболее реалистичного платёжного средства для микроэкономики, приближающая его на один шаг ближе к превращению в новую валюту будущего,
            | а также технологический прорыв, который принесёт огромное удобство в реальном мире.
        h1.w-is-hd Базовые технологии

        h1(style="color:#267fd8") Корректировка эмиссии
        h2 Справедливое распределение предложения
        div(style="display:flex; align-items: center;")
            p(style="padding-right: 44px;") MicroBitcon будет запущен в совершенно новой сети. Эта новая сеть будет иметь те же балансы, что и предыдущая, но с чистой историей транзакций. Монеты, не активированные после блока 525000 будут сожены. 
                | Также, премайнинг на время будет заблокирован с помощью <a style="font-weight:bold" href="https://github.com/bitcoin/bips/blob/master/bip-0065.mediawiki" target="_blank">OP_CHECKLOCKTIMEVERIFY</a> выходного скрипта.
            img(src="/static/imgs/technology_img_000.png" class="technology_000")
        br
        h1(style="color: #267fd8") Алгоритм Power2b
        h2 ASIC-устойчивый майнинг
        div(style="display:flex; align-items: center;")
            p(style="padding-right: 44px;") Майнинг должен быть децентрализованным и открытым. Для достижения этого, в частности алгоритм Power2b - спроектирован так, чтобы быть дружественным к процессору (CPU) и недружелюбным к графическому процессору (GPU). Это не требует специального оборудования.
            img(src="/static/imgs/technology_img_001.png" class="technology_000")
        br
        h1(style="color: #267fd8") 1 БЛОК/МИНУТА
        h2 Больше подтверждённых транзакций
        div(style="display:flex; align-items: center;")
            p(style="padding-right: 44px;") Интервал между созданием новых блоков сокращён, чтобы достигнуть почти мгновенное подтверждение транзакций для микроплатежей и с меньшими затратами. Так что вы можете ожидать прийти в пицерию и заплатить за пиццу с помощью MBC.
            img(src="/static/imgs/technology_img_002.png" class="technology_000")
        br
        h1(style="color: #267fd8") Индексирование Blake2b
        h2 Защищённое хеширование
        div(style="display:flex; align-items: center;")
            p(style="padding-right: 44px;") Blake2 - криптографическая хеш-функция, которая работает быстрее, чем MD5, SHA-1, SHA-2 и SHA-3, но не уступает в надежности последнему стандарту SHA-3. Blake2 был принят во многих проектах благоларя высокой скорости, безопасности и простоте.
            img(src="/static/imgs/technology_img_003.png" class="technology_000")
