extends ./../index

block content 
    .white-paper
        h1.w-is-hd Доклад (WhitePaper)

        ul
            //- li
                a(href="#" target="_blank") WhitePaper (RUS)
            li
                a(href="/static/assets/MicroBitcoin_Whitepaper(ENG).pdf" target="_blank") WhitePaper (ENG)
            li
                a(href="/static/assets/MicroBitcoin_Whitepaper(KOR).pdf" target="_blank") WhitePaper (KOR)