extends ../../index

block content
  .coin-founder-container
        h3(style="text-align: center") Ваш новый аккаунт был успешно создан.
        p(style="text-align: left")
            i Теперь вы можете войти в свой аккаунт и попробовать CoinFounder!
        div(style="text-align: center")
            a(href="/account/login") Не могу больше ждать, на страницу входа!