extends ../../index

block content
    .coin-founder-container
        .forgot-password-form
            h3 CoinFounder | Сброс пароля

            form(class="forgot-form" action="" method="POST" )
                div
                    label(for="email") Ваш Email: 
                    input(id="email-inpt" type="text" name="email" required)
                button(id="submit-btn" type="submit") Отправить