extends ../../index

block content
  .coin-founder-container
        form(class="new-password-form" action="" method="POST" )
            h4 Сброс пароля
            div
                label(for="password1") Новый пароль: 
                input(type="password" name="password1" placeholder="Придумайте пароль" required)
            div
                label(for="password2") Повторите пароль: 
                input(name="password2" type="password" placeholder="Повторите пароль" required)
            input(type="hidden" name="token" value=token)
            div
                button(type="submit") Отправить